@charset "utf-8";
@font-face {
    font-family: 'DancingScript';
    src: url(../fontes/DancingScript-VariableFont_wght.ttf) format('opentype');
}


:root {
    --fonte1: 'DancingScript', cursive;
    --fonte2: Arial, Helvetica, sans-serif;

    --cor00: #ECED13;
    --cor01: #F7E114;
    --cor02: #E0B81E;
    --cor03: #F7B314;
    --cor04: #ED9613;

}

* {
    margin: 0;
    padding: 0;
    cursor: url(../imagens/pieceWhite_border01-_1_.cur), auto;
    
}

header {
    background-image: linear-gradient(to top, var(--cor00), var(--cor04));
    text-align: center;
    padding: 50px 0 10px 0;
}

h1 {
    font-size: 50px;
    font-family: var(--fonte1);
}

header > p {
    font-size: 45px;
    font-family: var(--fonte1);
}

nav {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    
}

nav > a {
    padding: 10px;
    text-decoration: none;
}


body {
    text-align: center;
    background-color: var(--cor01);
    font-family: var(--fonte2);
    font-size: 30px;
}

main {
    margin: auto;
    padding: 25px 200px;
    
    
}

h2 {
    font-family: var(--fonte2);
    font-size: 45px;
}

section.home {
    display: flex;
    margin: 30px;
    text-align: justify;
    text-indent: 48px;
}

section.profs {
    margin: 30px;
    text-align: center;
}

section.jogos {
    margin: auto;
    text-indent: 48px;

}

section.jogos > p {
    text-align: justify;
    padding: 25px;
}

h2 {
    text-align: center;
    font-size: 45px;
    padding: 30px;
}

section > img {
    margin: 0 20px;
    width: 30vw;
    
}

iframe {
    width: 560px;
    height: 315px;
}


@media screen and (max-width: 420px){
    iframe { 
        width: 250px;
        height: auto;
    }
}

